body{
    font-family: Arial, sans-serif;
    background-color: #e1b6f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

header{
    margin-right: 100px;
    color: white;
    text-align: center;
    border: #C562AF 3px solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    
}

table{

    background-color: #C562AF;
    table-layout: auto;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 20%;
    height: 50%;
}

.display{
    height: 30px;
    width: 100%;
    background-color: #DB8DD0;
}

td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

td:hover{
    background-color: #DB8DD0;
}

td > button{
    cursor: pointer;
    background-color: #C562AF;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

td > button:hover{
    background-color: #DB8DD0;
}   
